
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

:root {
	--white: #FAFAFA;
	--red: #E72D3A;
	--grey: #333;
	--font-body: 'Poppins';
	--font-header: 'Agbalumo';
    --nav-height: 78px;
    --intro-height: 80vh;
    --villa-width: 420px;
}

* { margin: 0; padding: 0; }
body { font: 11pt var(--font-body); color: #333; background: #3684B2 }

p { max-width: 750px; margin: 0 auto 10px; padding: 5px 0 10px; line-height: 1.3em; text-align: center; }

a { text-decoration: none; color: var(--red); }
a:hover { opacity: 0.5 }
a img { outline: none; border: none; }

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}
h1 { font-size: 3.2em; margin-bottom: 10px; }
h2 { font-size: 2em }
h3 { font-size: 1.2em }
h3, h4, h5, h6 { text-transform: none; }
hgroup { padding: 10px 0 }
hgroup h3 { padding: 10px 0 }

.clear { float: none; clear: both; }
.center { text-align: center }
.smallprint { font-size: 0.85em }
.red { color: #B22E30 }
.green { color: #1CB246 }

.button { display: inline-block; padding: 8px 20px 10px;
	color: var(--white); border: 2px solid var(--red);
	background: var(--red);
	border-radius: 50px;
}
.button:hover { opacity: 1; background: var(--white); color: var(--red); }
.button.invert { color: var(--white); border-color: var(--white); }
.button.invert:hover { color: var(--red); background: var(--white); }

.button, nav a, label, h1, h2, h3, h4, h5, h6, .vehicle-select-car, .custom-dropdown { font-family: var(--font-header), sans-serif }
a, a img, i, button, header, header nav a span, .vehicle-select-car, .vehicle-select-car table td img, section.rental-form-section hgroup, .rental-form-section-content, section.rental-form-section, .custom-dropdown span { -webkit-transition: all 240ms; -moz-transition: all 240ms; -ms-transition: all 240ms; -o-transition: all 240ms; transition: all 240ms; }





/* ========== Page Sections ========== */

section { width: 100% }
section.background-solid { background: var(--white); position: relative; z-index: 10; }
.section-inner-wrap {
	display: block;
	position: relative;
	width: 94%; height: 100%;
	max-width: 1000px;
	padding: 20px 0;
	margin: 0 auto;
}
.section-inner-wrap img { max-width: 100%; height: auto; }





/* ========== Forms ========== */

form { text-align: center }
form label { display: block; margin: 38px 0 2px; }
form input {
	width: 150px;
	padding: 4px 10px;
	margin: 5px 0;
	text-align: center;
	font-family: inherit; font-size: 0.9em;
	border: none; border-bottom: 1px solid #CCC;
	background: none;
}
form input.phone { width: 80px }
form input.date { width: 100px }
form input.time { width: 54px }
form input.passengers { width: 40px }
form label.radio { display: inline; font-family: inherit; font-size: 0.9em; }
form label.radio input { width: auto; margin-right: 5px; }
form label.disabled { opacity: 0.5 }
form textarea {
	width: 212px; height: 50px;
	padding: 6px 9px;
	resize: none;
	color: inherit;
	text-align: center;
	font-family: inherit; font-size: 0.85em;
	border: none; border-bottom: 1px solid #CCC;
}
form .fail { border-color: #B22E30 }
form .success { border-color: #1CB246 }
form .submit.button { margin-top: 40px }
form .form-error-message {
	position: absolute; left: 0; top: 0;
	margin-top: 14px; padding:5px 10px;
	box-shadow: 0 0 6px rgba(0,0,0,0.25);
	color: #B22E30;
	background-color:rgba(255,255,255,0.9);
}
form #form-loader { margin: 10px 0 0 }
form .submit-response { margin: 20px 0 5px }




/* ========= Header ========== */

header {
    position: relative;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    background: var(--red);
    height: var(--nav-height);
    display: flex;
    align-items: center;
}
header .section-inner-wrap {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    height: unset;
    align-items: center;
}
header nav {
    height: 100%;
    display: flex;
    align-items: center;
}
header .logo { margin: 10px 0 3px; }
header nav a { margin-left: 30px; color: var(--white); text-shadow: 0 1px 3px var(--grey); }
header nav a span { position: relative; top: 65%; }
header nav a.current{ opacity: 1 }
header nav a.current span { border-bottom: 1px solid #FFF }
header svg {
    width: 28px;
    height: auto;
}

header #mobile-menu { display: none; }

.custom-dropdown {
    color: var(--white);
    display: inline-flex;
    justify-content: center;
    position: relative;
}
.custom-dropdown span {
    text-shadow: 0 1px 3px var(--grey);
    cursor: pointer;
}
.custom-dropdown span:hover {
    opacity: 0.5;
}
.dropdown-content span.current {
    text-decoration: underline;
    cursor: pointer;
}
.dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: max-content;
    background-color: var(--red);
    padding: 8px;
    border-radius: 6px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    top: 45px;
    gap: 12px;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}
.dropdown-content.hidden {
    opacity: 0;
    pointer-events: none;
}



/* ========== Masthead Section ========== */

section.masthead { display: block; padding: 60px 0 140px; }
section.masthead .background {
	position: fixed; left: -10px; top: -10px; right: -10px; bottom: -10px; z-index: -1;
	background: url('images/TITI-Office_Photo.jpg') center center no-repeat;
	background-size: cover;
}
section.masthead .overlay {
	width: 100%; height: 100%;
	position: absolute; left: 0; top: 0;
	background: var(--grey);
	opacity: 0.5;
}
section.masthead hgroup { margin: 60px 0 0 0; text-shadow: 0 2px 8px rgba(0,0,0,0.2); color: var(--white); }
section.masthead hgroup h3 { padding: 0 }
section.masthead .section-inner-wrap { padding: 0 }

#rentals-page section.masthead hgroup { margin-bottom: 20px }





/* ========== Rental Quick Search Box ========== */

.quick-search-box {
	max-width: 600px;
	margin: 0 auto; padding: 20px;
	background: rgba(255,255,255,0.9);
	text-align: center;
	box-shadow: 0 0 6px rgba(0,0,0,0.25);
	border-radius: 100px;
}
.quick-search-box label, .quick-search-box a.submit.button { margin: 0 0 0 30px; }

.quick-search-box form {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}




/* ========== Features Section =========== */

.feature-box { float: left; width: 40%; min-height: 60px; padding: 15px 5%; }
.feature-box img { float: left; margin: 5px 20px 25px 0; opacity: 0.5; }
.feature-box h4 { text-align: left }
.feature-box p { text-align: left; }







/* ========== Vehicle Select Section ========== */

section.vehicle-select { text-align: center }
section.vehicle-select nav { padding: 10px 0 20px 0 }
section.vehicle-select nav a { margin: 0 10px }
section.vehicle-select nav a.current { cursor: text; color: inherit; }
section.vehicle-select nav a.current:hover { opacity: 1 }
section.vehicle-select select { display: none }

section.vehicle-select .vehicle-select-car { display: inline-block; padding: 25px 30px; }
section.vehicle-select .vehicle-select-car h4 { margin: 10px 0 5px 0 }
section.vehicle-select .vehicle-select-car table { margin: 5px auto 12px }
section.vehicle-select .vehicle-select-car table td { line-height: 20px; padding: 0 6px; }
section.vehicle-select .vehicle-select-car table td img { vertical-align: bottom; opacity: 0.5; }
section.vehicle-select .vehicle-select-car:hover table td img { opacity: 0.8 }
section.vehicle-select .vehicle-select-car .vehicle-submit.button { opacity: 0.5; margin-top: 5px; color: #555; border-color: #555; }
section.vehicle-select .vehicle-select-car:hover .vehicle-submit.button { color: #FF5B5D; border-color: #FF5B5D; opacity: 1; }
section.vehicle-select .vehicle-select-car:hover .vehicle-submit.button:hover { color: #FFF }





/* ========== Rental Form Page ========== */

section.rental-form-section { margin-top: 20px; opacity: 0.75; }
section.rental-form-section .section-inner-wrap { padding: 10px 0 }
section.rental-form-section hgroup { padding: 5px 0 2px }
section.rental-form-section hgroup h3 { padding: 6px 0 0 0 }
section.rental-form-section .rental-form-section-content { display: none }

section.rental-form-section.current .section-inner-wrap { padding: 15px 0 }
section.rental-form-section.current .rental-form-section-content { display: block }
section.rental-form-section.current { opacity: 1; padding: 15px 0 12px; }

section.rental-form-section.complete:not(.current) hgroup { cursor: pointer }
section.rental-form-section.complete:hover { opacity: 1 }


/* --- Vehicle Select Section --- */
section.rental-form-section.vehicle-select { margin-top: 0 }
section.rental-form-section.vehicle-select .vehicle-select-car {
	cursor: pointer;
	padding: 10px 20px 5px;
	margin: 10px;
	border: 3px solid transparent;
}
section.rental-form-section.vehicle-select .vehicle-select-car:hover,
section.rental-form-section.vehicle-select .vehicle-select-car.selected { border-color: #B22E30 }
section.rental-form-section.vehicle-select .vehicle-select-car:hover
section.rental-form-section.vehicle-select .vehicle-select-car:hover { color: #333; border-color: #333; }
section.rental-form-section.vehicle-select .vehicle-select-car.selected table td img { opacity: 0.8 }

section.rental-form-section.submit { text-align: center }
section.rental-form-section.submit h5 { margin: 4px 0 3px; font-weight: 300; }
section.rental-form-section.submit h4 { font-weight: 300 }
section.rental-form-section.submit .submit.button { margin: 15px 0 0; }


/* --- Add Ons Section --- */
section.rental-form-section.details .rental-form-pickuploc-details { display: none; margin-top: 6px; }





/* ========== Other Pages ========== */

#faq-page h3, #antigua-page h3, #contact-page h3 { margin-top: 10px }
#faq-page h4, #antigua-page h4, #contact-page h4 { margin-top: 2px }
#contact-map {
	display: block;
	margin: 20px auto;
}





/* ========== Footer =========== */

footer {
	position: relative;
	background: var(--red);
	text-align: center;
	padding: 30px 0 20px;
	color: var(--white);
}
footer .logo { margin-bottom: 20px; }
footer a { color: var(--white); }
footer nav { padding: 20px 0 40px }
footer nav a { padding: 10px 15px }
footer nav a.current { opacity: 1 }
footer nav a.current span { border-bottom: 1px solid #FFF }
footer .copyright { padding: 0 0 0 0; opacity: 0.5; }


.slideshow-container {
    width: 100%;
    height: var(--intro-height);
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: -1;
}

.slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
}

#villas {
    margin-top: calc(var(--intro-height) - var(--nav-height));
    padding: 90px 0;
    background-color: var(--white);
}
#villas > h1 {
    margin-bottom: 45px;
}
#villas > p {
    margin-bottom: 50px;
    font-size: 13pt;
}
#villas-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.villa {
    border-radius: 8px;
    background: var(--grey);
    color: var(--white);
    width: var(--villa-width);
    margin: 24px;
}
.villa-title {
    padding: 24px 0;
    background: var(--grey);
    border-radius: 8px 8px 0 0;
    font-size: 1.75em;
}
.villa-img {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 240px;
}
.villa-img-inner {
    position: relative;
    display: flex;
    width: max-content;
    align-items: center;
    transition: all ease-in-out 1s;
    transform: translateX(0px);
}
.villa-img-arrow {
    position: absolute;
    background: var(--white);
    color: var(--grey);
    z-index: 10;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}
.villa-img-arrow.disabled {
    background: #a8a8a8;
    cursor: default;
}
.villa-img-arrow.prev {
    left: 12px;
}
.villa-img-arrow.next {
    right: 12px;
}
.villa-img img {
    width: var(--villa-width);
}
.villa-body {
    display: flex;
    justify-content: space-around;
    padding: 24px 0 16px;
}
.villa-icon-pair {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.villa-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 16px 0 24px;
    position: relative;
}
.main-btn {
    background: var(--red);
    border-radius: 6px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 130px;
    height: 40px;
}
.main-btn.details {
    background: var(--white);
    color: var(--grey);
}
.book-now-container {
    position: relative;
}
.booking-btns {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    transition: all ease 0.3s;
    opacity: 0;
    pointer-events: none;
    bottom: 0;
    background: var(--grey);
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 0 13px 9px rgba(0,0,0,0.3);
    z-index: 20;
}
.booking-btns.show {
    opacity: 1;
    pointer-events: all;
    bottom: 80px;
}
.booking-btn {
    display: flex;
    background: var(--white);
    border-radius: 6px;
    padding: 6px;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    width: 190px;
}
.booking-btn.booking-dot-com {
    color: #0c3b7c;
}
.booking-btn.airbnb {
    color: #ea5b62;
}
.booking-btn img {
    max-width: 40px;
    max-height: 40px;
}
.booking-btn span {
    margin: auto;
}




/* ========== Mobile ========== */

@media screen and (max-width: 680px) {

	#nav-overlay {
		display: none;
		width: 100%; height: 100%;
		position: fixed; left: 0; top: 0; z-index: 100;
		background: #3684B2;
	}
	header { position: absolute }
	header #mobile-menu {
		display: block;
		position: absolute; bottom: 10px; right: 0;
		padding: 20px 0 0 20px;
		opacity: 1 !important;
	}
	header nav { display: none; width: 100%; position: absolute; right: auto; left: 0; top: 100%; }
	header nav.showing { display: block }

	header nav a {
		display: block;
		height: auto;
		padding: 20px;
		font-size: 1.2em;
		border-bottom: 1px solid rgba(255,255,255,0.5);
		text-align: center;
		opacity: 1 !important;
	}
	header nav a:last-child { border-bottom: none}

 	#rentals-page .xdsoft_datetimepicker { margin-left: -40px }

	.feature-box { text-align: center; float: none; width: 100%; min-height: 60px; padding: 15px 0; }
	.feature-box img { float: none; margin: 0 10px 0 0; opacity: 0.5; }
	.feature-box h4 { text-align: center }
	.feature-box p { text-align: center }


	footer { background: #3684B2; }

}


@media screen and (max-width: 480px) {

	h1 { font-size: 2.6em; margin-bottom: 10px; }
	h2 { font-size: 2em }

	section.vehicle-select nav { display: none }
	section.vehicle-select select { display: block; margin: 10px auto 0; }

	footer nav a {
		display: block;
		border-bottom: 1px solid rgba(255,255,255,0.5);
	}
	footer nav a:last-child { border-bottom: none }

}
